<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input" type="number" (input)="onChangeLength($event)" [value]="length" onkeydown="return event.keyCode !== 69">
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" [defaultChecked]="true">
            Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" [defaultChecked]="true">
            Use Numbers
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" [defaultChecked]="true">
            Use Symbols
          </label>
        </div>
      </div>
      <div class="field">
        <button class="button is-link is-fullwidth" (click)="onButtonClick()" [disabled]="!includeLetters || !includeSymbols || !includeNumbers">Generate!
        </button>

      </div>
      <div class="box">
        <label>Your password</label>
        <input class="input" [value]='password'>
      </div>
    </div>
  </div>
</div>
